@import "./normalize.css";
/* Global */

:root {
    --color-dark-blue: hsl(240, 38%, 20%);
    --color-grayish-blue: hsl(240, 18%, 77%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-position: bottom 0px left 0px;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

main {
    box-sizing: border-box;
    padding-top: 70px;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
}

/* CONTAINER - SLIDER */

.slider {
    display: grid;
    font-size: 1.4rem;
    grid-template-columns: 1fr 1fr;
    width: 970px;
}

/* SLIDER - IMAGE AND ICONS */

.image-and-icons {
    position: relative;
    width: max-content;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/* IMAGE AND ICONS */

.profile-image {
    display: inline-block;
    max-height: 450px;
    margin-left: -58px;
    position: relative;
    z-index: 1;
}

.background-pattern {
    max-height: 550px;
    position: absolute;
    top: -55px;
    left: -120px;
    z-index: 0;
}

/* IMAGE AND ICONS - BUTTON CONTAINER */

.button-container {
    display: flex;
    width: max-content;
    height: max-content;
    position: absolute;
    bottom: -25px;
    left: -23px;
    z-index: 2;
}

/* BUTTON CONTAINER - BUTTON */

.button {
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 55px;
}

#prev-button {
    background-color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#next-button {
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.button-icon {
    width: 10px;
    height: 15px;
}

/* DESCRIPTION AND INFO */

.description-and-info {
    align-self: center;
    justify-self: flex-end;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: max-content;
    z-index: 1;
}

/* DESCRIPTION AND INFO - DESCRIPTION TEXT*/

.description-text {
    font-size: 2.9rem;
    font-weight: 300;
    height: 200px;
    width: 570px;
    text-align: left;
}


/* Writer Info */

.writer-info {
    display: flex;
}

.fullname {
    font-weight: 700;
    margin-right: 5px;
}

.job {
    color: var(--color-grayish-blue);
}

/* MEDIA QUERIES */

/* MEDIUM VİEW */

@media (max-width:1160px) {
    .slider {
        width: 870px;
        padding-left: 10px;
    }
    .profile-image {
        max-height: 350px;
    }
    .background-pattern {
        top: -45px;
        left: -110px;
        max-height: 430px;
    }
    .button-container {
        bottom: -17px;
        left: -37px;
    }
    .button {
        height: 40px;
        width: 45px;
    }
    .description-text {
        width: 470px;
        height: max-content;
        font-size: 2.3rem;
        margin-bottom: 10px;
    }
}

/* SMALL VIEW */

@media(max-width:835px) {
    .slider {
        display: flex;
        flex-direction: column;
        width: max-content;
        padding-left: 0px;
    }
    .profile-image {
        max-height: 280px;
        margin-left: 0;
    }
    .background-pattern {
        top: -33px;
        left: -40px;
        max-height: 340px;
    }
    .button-container {
        left: 85px;
    }
    .description-text {
        border: 1px solid;
        margin-top: 90px;
        font-size: 1.8rem;
        width: 315px;
        line-height: 25px;
        text-align: center;
    }
    .writer-info {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

@media(max-width: 440px) {
    .slider {
        padding-left: 20px;
    }
}

/* XSMALL VIEW */

@media(max-width:380px) {
    .slider {
        border: 1px solid;
        padding-left: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .image-and-icons {
        margin-left: auto;
        margin-right: auto;
    }
    .profile-image {
        max-height: 200px;
    }
    .background-pattern {
        top: -23px;
        left: -26px;
        max-height: 240px;
    }
    .button-container {
        bottom: -14px;
        left: 68px;
    }
    .button {
        height: 35px;
        width: 35px;
    }
    .button-icon {
        width: 10px;
        height: 12px;
    }
    .description-text {
        font-size: 1.5rem;
        font-weight: 300;
        width: 260px;
    }
}

/* XSMALL VIEW */

@media(max-width:275px) {
    .profile-image {
        max-height: auto;
        height: auto;
        width: 70vw;
    }
    .background-pattern {
        max-height: auto;
        height: auto;
        width: 90vw;
    }
    .description-text {
        width: auto;
    }
    .button-container {
        bottom: -14px;
        left: calc(10vw);
    }
}

.hide {
    display: none;
}