@import "./normalize.css";
/* Global */

:root {
    --color-dark-blue: hsl(240, 38%, 20%);
    --color-grayish-blue: hsl(240, 18%, 77%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url("../images/pattern-bg.svg"), url("../images/pattern-curve.svg");
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

main {
    height: 100%;
}

/* CONTAINER */

#container {
    padding: 40px 30px 30px 30px;
}

/* CONTAINER - SLIDER */

.slider {
    display: flex;
    font-size: 1.4rem;
}

.hide {
    display: none;
}


/* SLIDER - IMAGE AND ICONS */

.image-and-icons {
    position: relative;
}

/* IMAGE AND ICONS - BUTTON CONTAINER */

.button-container {
    display: flex;
    width: max-content;
    height: max-content;
    position: absolute;
    bottom: -15px;
    left: 60px;
}

/* BUTTON CONTAINER - BUTTON */

.button {
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 55px;
}

#prev-button {
    background-color: red;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#left-arrow {
    
}

#next-button {
    background-color: yellow;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* Description And  Info */

.description-and-info {
    background-image: url("../images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position: bottom 400px;
    border: 1px solid;
    height: max-content;
    width: 250px;
}

/* Description Dontainer */

.description-text {
    font-weight: 300;
}

/* Writer Info */

.writer-info {
    display: flex;
}

.fullname {
    font-weight: 700;
    margin-right: 5px;
}

.job {
    color: var(--color-grayish-blue);
}


/* Media Queries */

@media (max-width:375px) {

    .slider {
        flex-direction: column;
        align-items: center;
    }
    .image-and-icons {
        border: 1px solid red;
        width: 200px;
        height: max-content;
    }
}

