@import "./normalize.css";
/* GLOBAL */

:root {
    --color-soft-red: hsl(14, 88%, 65%);
    --color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --color-soft-violet: hsl(273, 75%, 66%);
    --color-soft-blue: hsl(240, 73%, 65%);
    --color-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --color-dark-grayish-blue: hsl(240, 6%, 50%);
    --color-light-grayish-blue: hsl(240, 5%, 91%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    font-size: 10px;
    height: 100%;
    overflow: hidden;
    min-height: 330px;
    max-width: 1440px;
    min-width: 375px;
}

body {
    background-image: linear-gradient(var(--color-soft-violet), var(--color-soft-blue));
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* CONTAINER */

#container {
    background: url("../images/bg-pattern-desktop.svg") no-repeat;
    background-position: right 500px bottom -200px;
    background-color: #ffffff;
    border-radius: 2rem;
    display: flex;
    height: 450px;
    width: 900px;
}

/* ILLUSRATIONS */

#illusrations {
    position: relative;
    width: 60%;
}

#illusration-box {
    height: max-content;
    width: max-content;
    position: relative;
    top: 38%;
    right: 17%;
    z-index: 2;
}

#illusration-box img{
    color: #ffffaa;
}

#illusration-woman {
    overflow: hidden;
    width: max-content;
    position: relative;
    bottom: 33%;
    z-index: 1;
}

#illusration-woman img:nth-child(1){
    position: relative;
    right: 80px;
}

#illusration-woman img:nth-child(2){
    display: none;
}


/* QUESTIONS */

#questions-outer-container {
    width: 40%;
    overflow-y: auto;
}

h1 {
    color: var(--color-very-dark-desaturated-blue);
    font-size: 3rem;
    margin-top: 6rem;
}

.question-and-answer {
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-light-grayish-blue);
    color: var(--color-dark-grayish-blue);
    min-height: 50px;
    max-width: 300px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.4rem;
}

.question {
  display: flex;
  align-items: center;
}

.question-text:hover {
    cursor: pointer;
    color: var(--color-soft-red);
}

.arrow-icon {
    cursor: pointer;
    padding: 1rem;
    margin-right: 0;
    margin-left: auto;
    transition: transform 1s;
}

.arrow-icon-up {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.answer {
    display: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.open-answer {
    display: inherit;
}


.bold {
    color: var(--color-very-dark-desaturated-blue);
    font-weight: bold;
}

/* MEDIA QUERIES */

@media (max-width:1010px) {

    main {
        box-sizing: border-box;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 200px;
    }

    #container {
        box-sizing: border-box;
        background-image: url("../images/bg-pattern-mobile.svg");
        background-position: right 0px bottom 0px;
        width: 330px;
        padding-left: 15px;
        padding-right: 15px;
    }

    #illusrations {
        display: none;
    }

    #questions-outer-container {
        width: 100%;
        background-color: red;
        overflow-y: auto;
    }

}