// Colors

$dark-blue-components:  hsl(217, 28%, 15%); // intro and email sign up background
$dark-blue-main: hsl(218, 28%, 13%);
$dark-blue-footer: hsl(216, 53%, 9%);
$dark-blue-testimonials: hsl(219, 30%, 18%);

$cyan: hsl(176, 68%, 64%);     // inside call-to-action gradient
$blue: hsl(198, 60%, 50%);     // inside call-to-action gradient
$light-red: hsl(0, 100%, 63%); // (error)

$white: hsl(0, 0%, 100%);

// Font Family
$primary-font: 'Open Sans', sans-serif;
$secondary-font : 'Raleway', sans-serif;

// Font Weights
$regular: 400;
$bold: 700;  
