@import "font.css";
@import "style.css";

/* GLOBAL */

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    font-size: 10px;
}

body {
    background-image:    url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-repeat:   no-repeat, no-repeat;
    background-position: left top, right bottom;
}

a {
    text-decoration: none;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    padding-top: 14rem;
    max-width: 111rem;
}

/* HEADER AND STARS */

.header-and-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

header {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width:  46rem;
}

h1 {
    font-family: Spartan-Bold, sans-serif;
    font-size:   4.5rem;
    color: hsl(300, 43%, 22%);
    line-height: 1.15;
}

.introduction {
    color: hsl(303, 10%, 53%);
    font-family: Spartan-Medium, sans-serif;
    font-size:   1.5rem;
    line-height: 1.5;
    margin-top: 1rem;
    width: 46rem;
}

.wrapper-stars {
    margin-top: 1rem;
    padding-left: 12rem;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width:  -webkit-max-content;
    width:  -moz-max-content;
    width:  max-content;
}

.container-star {
    background-color: hsl(300, 24%, 96%);
    border-radius: 1rem;
    color: hsl(300, 43%, 22%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align:    center;
    align-items:       center;
    font-family: Spartan-Bold, sans-serif;
    font-size:   1.5rem;
    margin-bottom: 2rem;
    height: 5.5rem;
    width: 45rem;
}

.first-star {
    margin-left: 3rem;
}

.star-icon {
    margin-right: 0.5rem;
}

.stars-description {
    margin-left: 2.5rem;
}

#reviews {
    margin-right: 7rem;
}

#guru {
    margin-left: 4rem;
}

#best-tech {
    margin: 0 0 0 8rem;
}

/* CARDS */

.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container-cards {
    background-color: hsl(300, 43%, 22%);
    border-radius: 3%;
    width:  29.5rem;
    height: 18rem;
    margin-right: 3.8rem;
    padding: 4rem 2.5rem 3rem 2.5rem;
}

.customer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align:    center;
    align-items:       center;
}

.customer-name {
    color: hsl(0, 0%, 100%);
    font-family:         Spartan-SemiBold;
    -ms-flex-item-align: center;
    align-self:          center;
    font-size: 1.35rem;
    margin-top: 1rem;
}

.customer-image {
    border-radius: 50%;
    width: 4rem;
    margin-right: 2rem;
}

.customer-status {
    color: hsl(333, 80%, 67%);
    font-family: Spartan-Light;
    font-size:   1.2rem;
}

.customer-comment {
    color: hsl(0, 0%, 100%);
    font-family: Spartan-Medium;
    font-size:   1.35rem;
    line-height: 1.7;
    margin-top: 3rem;
}

#irene {
    margin-top: 2rem;
}

#anne {
    margin: 4rem 0 0 auto;
}

/* FOOTER */

footer {
    background-color: hsl(300, 4%, 90%);
    height: 2rem;
    font-family: Spartan-Medium;
    font-size:   1.5rem;
    text-align:  center;
    margin-top: 2rem;
}

/* MEDIA QUERIES */

@media (max-width:1125px) {
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient:    vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction:    column;
        flex-direction:        column;
    }
    .header-and-stars {
        -webkit-box-orient:    vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction:    column;
        flex-direction:        column;
        -webkit-box-align: center;
        -ms-flex-align:    center;
        align-items:       center;
        text-align: center;
    }
    h1 {
        font-size: 3.5rem;
    }
    .wrapper-stars {
        padding-left: 0;
    }
    #reviews, #guru, #best-tech {
        margin: 0 0 2rem 0;
    }
    .cards {
        -webkit-box-orient:    vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction:    column;
        flex-direction:        column;
        -webkit-box-align: center;
        -ms-flex-align:    center;
        align-items:       center;
    }
    .container-cards, #anne {
        margin-right: 0;
        margin-left:  0;
        margin-top:   2rem;
    }
    footer {
        height: auto;
    }
}

@media (max-width: 500px) {
    header, .wrapper-stars, .container-cards {
        width: 90%;
    }
    .introduction, .container-star {
        width: 100%;
    }
    .container-star {
        -webkit-box-orient:    vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction:    column;
        flex-direction:        column;
        -webkit-box-align: center;
        -ms-flex-align:    center;
        align-items:       center;
        height: auto;
    }
    .container-star div {
        margin-top:    1.5rem;
        margin-bottom: 1.5rem;
    }
    .stars-description {
        margin-bottom: 1.5rem;
        margin-left:   0px;
    }
    .first-star {
        margin-left: 0;
    }
    .container-cards {
        -webkit-box-sizing: border-box;
        box-sizing:         border-box;
        height: auto;
    }
}