body {
  position: relative;
}

.button {
    background-color: $bright-red;
    border: 0px;
    border-radius: 4.5rem;
    box-shadow: 0px 12px 10px -5px hsla(12, 88%, 59%, 0.596);
    cursor: pointer;
    color: $very-light-gray;
    font-size: 1.32rem;
    font-weight: $bold;
    height: 4.4rem;
    width: 13.7rem;

    &:active {
      transform: scale(0.98);  
    }
}

.bg-top {
  max-width: 63.6rem;
  position: absolute;
  right: -13rem;
  top: -11rem;
  width: 116%;
  z-index: -555;
}

.bg-middle {
  max-width: 50rem;
  position: absolute;
  right: -19rem;
  top: -32rem;
  width: 91%;
  z-index: -555;
}


.js-body {
  background: $dark-grayish-blue;
}


.js-hide {
  display: none !important;
}