@include media("1439px", "max") {

  .card {
    transform: translate(-50%);
    transition: transform 1000ms;
  }

  .card--prev {
    transform: translate(-180%);
  }

  .card--next {
    transform: translate(80%);
  }

  .card--default {
    left: 50%;
    transform: translate(-50%);
  }
}

@include media("375px") {
  .footer {
    $self: &;

    &__cta {
      @at-root {
        #{$self}__input {
          padding-left: 2.2rem;
          padding-right: 1rem;
          padding-bottom: 4px;
          width: 23.9rem;
        }
      }
    }

    &__link-container {
      padding-left: 1rem;
      width: 90%;

      @at-root {
        .link-group {
          display: flex;
          flex-direction: column; 

          &:nth-child(1) {
            margin-left: 2rem;
            margin-top: 2px;
          }

          &:nth-child(2) {
            margin-left: 10.5rem;    
          }
        }  
      } 

    }

    &__icon-and-logo {
      width: 90%;
      @at-root {
        #{$self}__social-icon-container {
          @at-root {
            #{$self}__social-icon {
              width: 32px; 
            }
          }
        }
      }
    }

  }


}
 

@include media("1024px") {

  .bg-middle {
    display: none;
  }

 .button:hover {
   background-color: hsl(12, 88%, 74%);
 } 

/* NAVBAR MEDIA*/

  .navbar {
    $self: &;
    margin-bottom: 9rem;
    padding: 6.3rem 0 0 0;
    width: 77%;


    &__logo {
      margin-top: 8px;
      margin-left: 0;  
      width: initial;
    }

    &__icon-container {
      display: none;
    }
  
    &__items-container {
      flex-direction: row; 
      @include margin-center;
      height: initial;
      width: 40.6rem;
      max-width: initial;
      padding-top: 0; 
      padding-bottom: 0.7rem;
      position: static;
      transform: initial;

      @at-root {
        #{$self}__item {
          color: $dark-blue;
          font-size: 1.25rem;
          font-weight: 500;
          margin-bottom: 0;
          padding-left: 0;
          margin-left: 0;   
          margin-right: 3.4rem;

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            color: $dark-grayish-blue
          }

        }   
      }
   
    }

    &__button {
      display: initial;
      margin-top: -0.7rem;
      margin-right: -1px;
    }
  }


/* INTRO MEDIA */ 
  
  .intro {
    $self: &;  
    flex-direction: row-reverse;
    @include margin-center;
    width: 77%;  

    &__header {
      padding-top: 3.3rem;
      width: 100%;  
      @at-root {
        #{$self}__heading {
          font-size: 3rem;
          margin-right: auto; 
          text-align: left; 
        } 
        
        #{$self}__text {
          text-align: left;
          margin-right: auto;   
          width: 75%; 
        }
      }  
    }

    &__button {
      margin-right: auto;    
    }

  }  

  /* TESTIMONIALS MEDIA */

  .testimonials {
    max-width: 600px;
  }
   
  /* SLOGAN MEDIA */

  .slogan {

    &__button:hover {
      background-color: #ffffff;
      color: hsl(12, 88%, 74%);
    }
  }

  /* FOOTER MEDIA */

  .footer {
    $self: &;
    &__link-container {
       @at-root {
        .link-group {
          @at-root {
            #{$self}__link:hover {
              color: $bright-red;
            }
          }
        }
       }
    }

    &__icon-and-logo {
      @at-root {
        #{$self}__social-icon-container {
          @at-root {
            #{$self}__social-icon:hover path {
              cursor: pointer;
              fill: $bright-red;
            }
          }
        }
      }
    }

  }

}


@include media("1440px") {

  .bg-middle {
    display: initial;
    left: -62rem;
    top: 32rem;
    width: 100%;
    max-width: 80rem;
  }

  .bg-top {
    max-width: 80rem;
    right: -14rem;
  }

  /* INTRO MEDIA */

  .intro {
    $self: &;

    &__header {
      padding-top: 0;
      width: 50%;

      @at-root {
        #{$self}__heading {
          font-size: 5.4rem;
          line-height: 6.5rem; 
          margin-bottom: 3.3rem;
          width: 80%; 
        } 
        
        #{$self}__text {
          line-height: 2.5rem;
          width: 64%;
        }
      }  
    }

    &__button {
      margin-left: -1px;
      margin-top: 1.1rem;
    }

    &__illustration-container {
      margin-right: 0.5rem;
      padding-top: 2rem;
      width: 50%;

      @at-root {
        #{$self}__illustration {
          width: 580px;
          max-width: initial;
        }
      }

    }
  }
  
  
    /* ABOUT MEDIA */
  .about {
    $self: &;
    display: flex;
    height: max-content;
    width: 77%;
    margin-bottom: 11rem;
    @include margin-center;

    &__header {
      height: max-content;

      @at-root {
        #{$self}__heading {
          font-size: 3.87rem;
          line-height: 4.4rem;
          margin-bottom: 3rem;
          margin-top: 0.5rem;
          margin-right: auto;
          text-align: left;
          width: 80%;
        }
    
        #{$self}__text {
          font-size: 1.6rem;
          margin-right: auto;
          text-align: left;
          width: 59%;
        }
      }
    }

    &__feature-container {
     

      @at-root {
        .feature {
          $self: &;
          margin-top: 0.4rem;
          margin-bottom: 3.9rem;

          &__number-and-heading {
            width: max-content;

            @at-root {
              #{$self}__number {
                margin-left: 1.5rem;
                margin-right: 3rem;
              }

              #{$self}__text {
                font-size: 1.6rem;
                line-height: 2.6rem;
                margin-left: auto;
                width: 80%;
              }

            }

          }

        }
      }

    }

  }


  /* TESTIMONIALS MEDIA */

  .testimonials {
    margin-bottom: 9.5rem;
    max-width: initial;
    
    &__heading {
      font-size: 3.85rem;
      margin-top: -0.4rem;
    }

    &__slider {
      cursor: grab;
      display: flex;
      margin-bottom: 4.8rem;
      @include margin-center;
      overflow-x: scroll;
      min-width: 1500px;
      max-width: 2200px;

      &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;

      &.cursor {
        cursor: grabbing;
      }

      @at-root {

        .card {
          $self: &; 
          flex-shrink: 0;
          margin-top: 1rem;
          margin-right: 3.4rem;
          max-width: 53.8rem;
          position: relative;
          left: 0;
          height: 22rem;

          &__image {
            margin-right: -1px;
          }

          &__heading {
            margin-top: 6.3rem;
          }

          &__text-container {
            padding-top: 2.3rem;

            #{$self}__text {
              font-size: 1.6rem;
            }
          }
        }
      }
    }

    @at-root {
      .dots-container {
        display: none;
      }
    }
  }

  /* SLOGAN MEDIA */

  .slogan {
    $self: &;
    flex-direction: row;
    height: 22rem;
    padding-right: 16.1rem;

    &__bg--1 {
      display: none;
    }

    &__bg--2 {
      display: initial;
      bottom: 0;
      left: 26rem;
    }

    &__heading-container {
      margin-top: -2.8rem;
      margin-left: 0.1rem;
      margin-right: auto;
      padding-left: 12.2rem;
      width: 66rem;
      @at-root {
        #{$self}__heading {
          font-size: 3.89rem;
          line-height: 4.1rem;
          text-align: left;
        }
      }
    }
  }

  /* FOOTER */

  .footer {
    $self: &;
    box-sizing: border-box;
    flex-direction: row-reverse;
    height: 25rem;
    position: relative;

    &__icon-and-logo {
      flex-direction: column-reverse;
      padding-top: 6.2rem;

      @at-root {
        #{$self}__logo {
          margin-bottom: 8.5rem;
          margin-left: 12.5rem;
          margin-right: 0;
          margin-top: 1rem;
          width: 14.3rem;
        }

        #{$self}__social-icon-container {
          margin-left: auto;
          margin-right: 1rem;
          width: max-content;
          @at-root {
            #{$self}__social-icon {
              margin-right: 1rem;
              width: 20px;
            }
          }
        }
      }
    }


    &__link-container {
      padding-top: 2rem;
      padding-left: 9.3rem;
      margin-left: 0;
      width: max-content;

      @at-root {
        .link-group {
          width: max-content;

          &:nth-child(1) {
            @at-root {
              #{$self}__link:nth-child(4) {
                width: 6.8rem;
              }
            }
          }

          &:nth-child(2) {
            margin-left: 18.8rem;
            margin-top: 1px;
            @at-root {
              #{$self}__link:nth-child(3) {
                width: 9.8rem;
              }
            }
          }
        }
      }
    }

    &__cta {
      margin-bottom: 11rem;
      padding-right: 12rem;

      @at-root {
        #{$self}__input {
          margin-right: 0.9rem;
          margin-top: 0.3rem;
          width: 20rem;
        }

        #{$self}__button {
          margin-right: 2.5rem;
          margin-top: 0.3rem; 
          width: 6.4rem;
        }

      }

    }

    &__copyright {
      position: absolute;
      bottom: 6.5rem;
      right: 16.8rem;
    }

  }
}