// FLEX

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}
  
  
// MARGIN
  
@mixin margin-center {
   margin-left: auto;
   margin-right: auto;
}
  
  
// MEDIA  QUERY
  
@mixin  media($value, $type: "min", ) {
  
  @if $type == max {
  
    @media(max-width: $value) {
      @content
    };
  
  } @else {
         
      @media(min-width: $value) {
        @content
      }
  
    }
  
}
