@import "./normalize.css";

/* GLOBAL */

:root {
    --color--dark-cyan: hsl(185, 75%, 39%);
    --color--very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --color--transparent: hsla(0, 0%, 59%, .3);
    --color--dark-grayish-blue: hsl(227, 10%, 46%);
    --color--dark-gray: hsl(0, 0%, 59%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    height: 100%;
    min-height: 330px;
    min-width:  330px;
}

html {
    font-size: 10px;
}

body {
    background-color: var(--color--dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:   center;
        -ms-flex-align:  center;
            align-items: center;
    background-image:  url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    /* 
    Thanks ApplePieGiraffe (from frontendmentor.com) for pieces of code.
    */
    background-position: right calc(47vw + 15%) bottom calc(65vh - 15vw), left calc(40vw + 25%) top calc(72vh - 10vw);
    -webkit-box-pack:        center;
        -ms-flex-pack:       center;
            justify-content: center;
    min-height: calc(100% - 35px);
}

.card {
    background-color: #ffffff;
    border-radius: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:     vertical;
    -webkit-box-direction:  normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width:  320px;
    height: 340px;
}

.background-area {
    background-image:  url("./images/bg-pattern-card.svg");
    background-repeat: no-repeat;
    background-size:   contain;
    border-top-left-radius:  inherit;
    border-top-right-radius: inherit;
    height: 40%;
    width:  100%;
}

.profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:     vertical;
    -webkit-box-direction:  normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 33%;
    margin-bottom: 1rem;
}

.profile-photo {
    -ms-flex-item-align: center;
        align-self:      center;
    border:        5px solid #ffffff;
    border-radius: 50%;
    position: relative;
    bottom: 70px;
}

.name-and-age {
    -ms-flex-item-align: center;
        align-self:      center;
    color: var(--color--very-dark-desaturated-blue);
    font-size:   1.8rem;
    font-weight: 700;
    position: relative;
    bottom: 50px;
}

#age {
    color: var(--color--dark-grayish-blue);
    font-weight: 400;
}

.country {
    -ms-flex-item-align: center;
        align-self:      center;
    color: var(--color--dark-grayish-blue);
    font-size:   1.3rem;
    font-weight: 400;
    position: relative;
    bottom: 40px;
}

.social-media-statics {
    border-top:                 2px solid hsl(0, 0%, 93%);
    border-bottom-left-radius:  inherit;
    border-bottom-right-radius: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:   center;
        -ms-flex-align:  center;
            align-items: center;
    -ms-flex-pack:       distribute;
        justify-content: space-around;
    height: 27%;
}

.statics {
    color: var(--color--very-dark-desaturated-blue);
    font-size:   1.8rem;
    font-weight: 700;
}

.label {
    color: var(--color--dark-grayish-blue);
    font-size:   1.1rem;
    font-weight: 400;
    margin-top: 5px;
}

.statics:nth-child(1) {
    text-align: center;
}

.label:nth-child(2) {
    text-align: center;
}

/* FOOTER */

footer {
    background-color: var(--color--transparent);
    color: #fff;
    font-weight: 400;
    font-size:   2rem;
    min-height: 30px;
    line-height: 30px;
    margin-top: 5px;
    text-align: center;
}

.link {
    color: #ffffff;
    font-weight: 700;
}

.link::before {
    content: "\00a0";
}