*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    min-width: 280px;
    height: 100%;
}

body {
    background-color: $very-light-gray;
}

a {
    text-decoration: none;
}

