/* GLOBAL */

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
}


/* HEADER */

.top-header {
  text-align: center;

  &-heading {
    color: $very-dark-blue;
    font-size: 4rem;
    font-weight: $light;

    span {
      color: $very-dark-blue;
      font-weight: $bold;
      margin-top: 5px;
    }
  }

  &-description {
    color: $grayish-blue;
    font-size: 1.4rem;
    line-height: 20px;
  }


  @include media("515px") {
    &-heading {
      font-size: 3.2rem;
    }
  }


  @include media("440px") {
    
    &-heading {
      font-size: 2.8rem;
    }
    
    &-description {
      font-size: 1.6rem;
      line-height: 25px;
    }
  }

  @include media("365px") {
    
    &-heading {
      font-size: calc(15px + 2vw);
    }

    &-description {
      font-size: 1.3rem;
    }

  }

}


/* CARD */

.card {

  &-heading {
    color: $very-dark-blue;
    font-size: 2rem;
    font-weight: $bold;
  }

  &-description {
    color: $grayish-blue;
    font-size: 1.2rem;
    font-weight: $medium;
    line-height: 25px;
  }

}