@import "./normalize.css";
/* GLOBAL */

:root {
    --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
    --color-desaturated-dark-blue: hsl(214, 17%, 51%);
    --color-grayish-blue: hsl(212, 23%, 69%);
    --color-light-grayish-blue: hsl(210, 46%, 95%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

html, body {
    font-family: 'Manrope', sans-serif;
    font-size:   10px;
    height: 100%;
}

body {
    background-color: var(--color-light-grayish-blue);
}

main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-height: 100%;
}

/* CONTAINER */

.container {
    background-color: #ffffff;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    max-width: 750px;
}

/* CONTAINER - PICTURE */

.picture {
    width: 47%;
}

.picture img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-clip-path: inset(0px 68px 0px 0px);
            clip-path: inset(0px 68px 0px 0px);
    max-width: 100%;
    height:    100%;
}

/* CONTAINER - ARTICLE */

.article {
    padding-top: 30px;
    position: relative;
}

/* ARTICLE - HEADING */

.heading {
    color: var(--color-very-dark-grayish-blue);
    font-size:   2.1rem;
    font-weight: 700;
    line-height: 1.3;
    max-width: 380px;
    word-wrap: break-word;
}

/* ARTICLE - ARTICLE TEXT */

.article-text {
    color: var(--color-desaturated-dark-blue);
    font-size:   1.4rem;
    font-weight: 500;
    line-height: 1.5;
    max-width: 400px;
}

/* ARTICLE - ICONS AND INFO */

.icons-and-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 30px;
    width: 95%;
}

/* ICONS AND INFO - ARTICLE INFO */

.article-info-visible {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.writer-avatar {
    border-radius: 50px;
    margin-right: 15px;
    max-width:  45px;
    max-height: 45px;
}

.writer-name {
    color: var(--color-very-dark-grayish-blue);
    font-size:   1.5rem;
    font-weight: 700;
    margin-top: 5px;
}

.publish-date {
    color: var(--color-grayish-blue);
    font-size: 1.3rem;
    margin-top: 5px;
}

/* ICONS AND INFO - ICONS */

.icons {
    margin-left:  auto;
    margin-right: 0;
}

.icons-mobile-hidden {
    display: none;
}

.share-icon {
    cursor: pointer;
    padding: 10px;
    background-color: var(--color-light-grayish-blue);
    border-radius: 50px;
}

.share-icon:hover {
    background-color: var(--color-grayish-blue);
}

.share-icon:hover path {
    fill: white;
}

.icons-desktop-hidden {
    display: none;
}

.icons-desktop-visible {
    background-color: var(--color-very-dark-grayish-blue);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 10px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    position: absolute;
    right:  -55px;
    bottom: 100px;
    width:  200px;
    height: 55px;
}

.icons-desktop-visible::after {
    border-left:  15px solid rgba(255, 255, 255, 0);
    border-top:   15px solid var(--color-very-dark-grayish-blue);
    border-right: 15px solid rgba(255, 255, 255, 0);
    content: '';
    position: absolute;
    top:   55px;
    right: 80px;
}

.icon-text {
    color: var(--color-grayish-blue);
    font-size: 1.2rem;
    text-transform: uppercase;
    -ms-flex-item-align: center;
        align-self: center;
}

.social-icon {
    cursor: pointer;
}

footer {
    color: rgb(255, 140, 140);
    font-weight: 400;
    font-size:   2rem;
    line-height: 30px;
    margin-top: 25px;
    min-height: 30px;
    text-align: center;
}

/* MEDIA QUERIES */

@media (max-width:770px) {
    .wrapper {
        padding-left:  20px;
        padding-right: 20px;
    }
    .container {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        min-width: 280px;
        max-width: 350px;
        margin-top: 40px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .picture {
        width:  100%;
        height: 200px;
        overflow: hidden;
    }
    .picture img {
        border-bottom-left-radius: 0px;
        border-top-left-radius:    10px;
        border-top-right-radius:   10px;
        -webkit-clip-path: unset;
                clip-path: unset;
        height: 200px;
        width:  100%;
    }
    .heading {
        font-size: 1.6rem;
        padding-left:  30px;
        padding-right: 30px;
    }
    .article-text {
        padding-left:  30px;
        padding-right: 30px;
    }
    .icons-and-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 30px;
        width: 100%;
    }
    .article-info-visible {
        margin-left:   30px;
        margin-bottom: 20px;
    }

    .article-info-hidden {
        display: none;
    }

    .icons {
        margin-bottom: 10px;
        padding-right: 30px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
    }
    .icons-visible {
        background-color: var(--color-very-dark-grayish-blue);
        border-bottom-left-radius:  10px;
        border-bottom-right-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align:   center;
            -ms-flex-align:  center;
                align-items: center;
        height: 80px;
        width: 100%;
        margin-bottom: 0px;
        padding-right: 20px;
        padding-left:  30px;
    }

    .icons-desktop-visible {
        display: none;
    }
    .icons-mobile-visible {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align:   center;
            -ms-flex-align:  center;
                align-items: center;
        -webkit-box-pack:  justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 70%;
    }
    .icon-text {
        letter-spacing: 5px;
    }

    .share-icon {
        margin-left: auto;
        margin-right: 0;
    }

    
    .share-icon:hover {
        background-color: var(--color-light-grayish-blue);
    }
    
    .share-icon:hover path {
        fill: #6E8098;
    }


    .share-icon-mobile {
        background-color: var(--color-grayish-blue);
    }

    .share-icon-mobile path {
        fill: white;
    }

    .share-icon-mobile:hover {
        background-color: var(--color-grayish-blue);
    }
    
    .share-icon-mobile:hover path {
        fill: white;
    }

}