@include media(min, 800px) {
  
  /* GLOBAL */

  body {
    background: url("../images/bg-pattern-desktop.svg"), $gradient-1;
    background-repeat: no-repeat;
    background-size: 53vw;
  }

  main {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .header-and-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    order: 1;
    width: 53vw;
  }

  .logo {
    width: 158px;
    height: auto;
    margin-top: -5px;
    margin-bottom: 60px;
    margin-left: -2px;
  }

  .image-wrapper {
    order: 2;
  }

  /* IMAGE */

  .hide-mobile {
    display: none;
  }
  
  .hero-image-desktop {
    width: 47vw;
    margin-left: auto;
    margin-right: 0;
  }

  /* HEADER */

  .top-header{
    margin-left: auto;
    margin-right: auto;
    max-width: 420px;
    
    &-heading {
      font-size: 6.5rem;
      text-align: left;
      letter-spacing: 10px;
      line-height: 70px;
      max-width: 420px;
    }

    &-text {
      font-size: 1.7rem;
      text-align: left;
      max-width: 420px;
    }
    
  }

  /* FORM */

  .email-form {

    &-input {
      max-width: 400px;
      padding-right: 90px;
      width: 400px;
    }

    &-button {
      border-radius: 25px;
      height: 51px;
      width: 85px;
    }

  }

}
  
@include media(max, 799px) {

  /* IMAGE */

  .hide-desktop {
    display: none;
  }
  
}
  