body {
  background: url("../images/bg-mobile.svg");
  background-color: $violet;
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper {
  @include flex-center(column);
  padding: 30px;  
}