.cta {
  $self: &;  
  background-color: $dark-blue-components;  
  box-sizing: border-box;
  @include flex-center(column);
  margin-left: 20px;
  width: 90%;  
  padding: 4rem 2rem 2.5rem 2rem;  
  position: relative;
  bottom: -170px;

  &__heading {
    margin-bottom: 2rem;  
  }

  &__text {
    margin-bottom: 3.2rem; 
    width: 92% 
  }

  &__get-started {
    @include flex-center(column);
    width: 100%;

    @at-root {

      #{$self}__input {
        border: 0px;  
        border-radius: 50px;  
        box-sizing: border-box;
        height: 48px;
        margin-bottom: 2.4rem;
        outline-color: $dark-blue-footer;
        padding-left: 2rem;
        width: 94.5%;

      } 
      
      #{$self}__button {
        width: 94.5%;
      }
      
    }

  }

}

.label {
  display: none;
  color: $light-red;
  font-size: 1.2rem;
  font-weight: $bold;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.js-label {
  display: initial;
}