.features {
  margin-bottom: 9rem;

  &__group {
    @include flex-center(column);
    margin-bottom: 2.3rem;
      
    @at-root {

      .feature {
        @include flex-center(column);  
        margin-bottom: 7rem;  
        width: 85%; 

        &__illustration--access {
          width: 6.25rem;  
          margin-bottom: 3.52rem;  
        }

        &__heading--access {
          margin-bottom: 1.15rem;  
        }

        &__illustration--security {
          margin-top: 1.5rem; 
          margin-bottom: 3.45rem; 
          width: 5.36rem;  
        }

        &__heading--security {
          margin-bottom: 1rem;  
        }

        &__illustration--collabora {
          width: 6.25rem;  
          margin-bottom: 3.7rem;  
        }

        &__heading--collabora {
          margin-bottom: 1rem
        }

        &__illustration--file {
          margin-bottom: 4.5rem;    
          margin-top: 2.7rem; 
          width: 7rem;  
        }

        &__heading--file {
          margin-bottom: .9rem
        }

        &__text {
          max-width: 375px;
        }
      

      }

    }  
  }
    
}