.intro {
  $self : &;
  margin-bottom: 13.15rem;
  position: relative;
  
  &::after {
    background-color: $dark-blue-components;
    content: " ";
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
  }


  &__illustration-container {
    margin-top: 47px; 
    padding-left: 32px; 
    
    @at-root {
      #{$self}__illustration {
        max-width: 305.226px;
        width: 90.35%; 
      }
    }

  }
  
  &__header {
    margin-top: 3rem;
       
    @at-root {
      #{$self}__heading {
        color: $white;  
        @include margin-center;
        max-width: 350px;
      }
    }

  }

  &__text-container {
    margin-bottom: 3.1rem;
    padding-left: 2px;

    @at-root {
      #{$self}__text { 
        @include margin-center;
        width: 81%;
        max-width: 425px;
      }
    }
   
  }

  &__button {
    display: block;
    @include margin-center;
  }
  
}

.bg-curvy {
  background-image: url("../images/bg-curvy-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: left 0px bottom 55%;
}