.top-logo{
  margin-bottom: 60px;

  svg {
    width: 130px;  
    height: auto;
  }
 
}


.illustration {
  margin-bottom: 60px;
  width: max-content;
  position: relative;
  

  svg {
    height: auto;  
    max-width: 300px;  
    width: 100%;
  }  


  &::after {
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    content: " ";
    position: absolute;
    left: -37px;
    top: -123px;
    width: 375px;
    height: 373px;
    z-index: -1;
  }

}


.social-logos {
  width: 120px;
  @include margin-center;
  display: flex;
  justify-content: space-between;

  svg path{
    fill: #ffffff;
  }

}