footer {
  color: #ffffff;  
  font-size: 1.7rem;  
  height: auto;
  min-height: 30px;
  padding-top: 10px;
  padding-bottom: 10px;  
  text-align: center;  
}
  
.footer--link {
  color: $soft-magenta;
  font-weight: $semi-bold;  
  margin-left: 4px;      
}