// Color

$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);
$dark-grayish-red: hsl(0, 6%, 24%);


// Gradient

$gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%),hsl(0, 100%, 98%));
$gradient-2: linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));


// Font Weight

$small: 300;
$medium: 400;
$bold: 600;