body {
  background-color: $dark-blue-components;  
}

main {
  background-color: $dark-blue-main;
  z-index: 2;
  position: relative;
}

.container {
  @include margin-center;
  width: 90%;
}

.button {
  background: linear-gradient($blue, $cyan);
  border: 0px;
  border-radius: 50px;
  font-family: $secondary-font;
  font-weight: $bold;
  width: 240px;
  height: 48px;
  
  &:active {
    transform: scale(0.98);
  }
}

