.header-and-button {
  width: 100%;  
  
  @at-root {
    .header {

      font-family: $secondary-font;  
      padding-left: 10px;
      padding-right: 10px;

      &--span { 
        color: $grayish-blue;
        letter-spacing: 5px;
  
        span {
          background-color: $very-dark-blue;    
          border-radius: 15px; 
          letter-spacing: initial;
          padding: 3px 10px 3px 10px;  
        }
  
      }
    
      &--heading {
        color: $very-dark-blue;
        font-size: calc(1.5rem + 2.4vw);
        max-width: 480px;
      }
  
      &--text {
        font-family: $primary-font;
        font-size: 18px;
        color: $dark-grayish-blue;  
        text-transform: initial;
        max-width: 290px;  
      }
  
    }

    .button-container {
      font-family: $secondary-font; 
      padding-left: 10px;
      padding-right: 10px;
  
      &--button {
        background-color: $red;
        border: 1px solid transparent;  
        flex-basis: 160px;
        height: 45px;
  
        &:active { 
          transform: scale(0.98);  
        }
  
        &:hover {
          background-color: $red;
          border-color: $red;  
        }
  
      }  
  
      &--text {
        color: $grayish-blue;
        margin-bottom: 0; 
      
        span {
          margin-right: 7px;  
        }
      
      }
  
    }
  }
}