.top-nav-items {
  font-family: $secondary-font;
     
  
  &--link {
    color: $very-dark-blue !important;
    margin-right: 2rem;
     
    &:hover {
      color: $very-dark-blue;
      text-decoration: underline $grayish-blue;
    }
  }

}

#login {
  color: $grayish-blue !important;    
}

.line {
  display: none;  
}

.logo {
  width: 32px;
  height: 32px;
}  
      