/* INTRO */

.intro {
  $self: &;
  display: flex;
  flex-direction: column;
  margin-bottom: 9.7rem;
  
  &__illustration-container {
    width: 90%;
    @include margin-center;
    
    @at-root {
      #{$self}__illustration {
        width: 100%;  
      }  
    }
    
  }

  &__header {
    @include flex-center(column);  
    @include margin-center;
    width: 90%;
    
    @at-root {
      #{$self}__heading {
       margin-top: 2px;
       margin-bottom: 0.8rem;
       line-height: 5rem;  
      }  

      #{$self}__text {
        margin-bottom: 3.1rem;
        width: 90%;
      }
    }
    
  }
  
}