/* NAVBAR */

.navbar {
  $self :&;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include margin-center;
  padding: 4.5rem 2.4rem 4.5rem 3rem;
  position: relative;
  
  &__logo {
    height: auto;
    width: 11rem;
    margin-left: -5px;
  }

  &__items-container {
    background-color: #ffffff;
    box-sizing: border-box;
    @include flex-center(column);
    justify-content: unset;
    width: 90%;
    height: 0;
    max-width: 325px;
    padding-top: 4.2rem;
    position: absolute;
    left: 50%;
    top: -100rem;  
    transform: translate(-50.5%); 

    @at-root {
      #{$self}__item {
        margin-bottom: 2.92rem;
        margin-left: 3px;
      }
    }

  }

  &__icon-container {
    margin-top: -0.8rem;
  }

  &__button {
    display: none;  
  }

}

.js-navbar {
  top: 10.3rem; 
  height: 29rem;
}

