/* TESTIMONIALS */

.testimonials {
  @include margin-center;
  margin-bottom: 0.3rem;
  padding-top: 2px;
  overflow-x: hidden;
  min-height: 55rem;
  max-width: 375px;

  &__heading {
    @include margin-center;
    margin-bottom: 7rem;
    width: max-content;  
  } 

  &__slider { 
    padding-top: 3.3rem;
    position: relative;

    @at-root {
      .card {
        $self: &;  
        background-color: $very-light-gray; 
        @include flex-center(column) ;
        position: absolute; 
        left: 50%;
        transform: translate(-50%);
        transition: transform 1000ms;
        height: 25rem; 
        max-width: 33.75rem;
        width:  90%;

        &__image {
          position: absolute;
          top:      -3.5rem;
          width: 7.2rem;  
        }
        
        &__heading {
          margin-top:   4.5rem;
          margin-right: -2px;  
        }

        &__text-container {
          box-sizing: border-box;
          padding-top: 2.4rem; 
          height: 15rem; 
          width:  85%;   
        }
      }  

      .card--prev {
        transform: translate(-180%);
      }

      .card--next {
        transform: translate(80%);
      }

      .card--default {
        left: 50%;
        transform: translate(-50%);
      }

    }
  }

  @at-root {
    .dots-container {  
      @include flex-center;
      @include margin-center;
      width: max-content;
      margin-top: 27.6rem;
      margin-bottom: 4.6rem;
      
  
      @at-root {
        .dot {
          border: 1px solid $bright-red;
          border-radius: 0.7rem;
          cursor: pointer;
          height: 0.7rem;
          width: 0.7rem;
          margin-right: 0.48rem;
          
          &:last-child {
            margin-right: 0;  
          }

          &--selected {
            background-color: $bright-red;  
          }
  
        }  
      }
    } 
  }

  &__button {
    display: block;  
    @include margin-center; 
    position: relative;
    left: 1px;
  }
}


