/* COLORS */

$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);


/* FONT WEIGHTS */

$regular: 400;
$bold: 700;


/* OTHER */

$border-radius: 5px;