footer {
  color: $blue;
  text-align: center;
  font-size: 2rem;
  min-height: 30px;
  margin-top: 5px;
}

.link {
  color: var(--color-grayish-blue);
  font-weight: 700;
}

.link::before {
  content: "\00a0";
}