.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  @include flex-center(column);
  padding: 50px 20px 20px 20px;
}

main {
  display: grid;
  justify-content: center;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  width: max-content;
  height: 70%;
}

