.top-header {
  box-sizing: border-box;
  height: 30%;
  max-width: 500px;
  margin-bottom: 50px;

  &-heading { 
    span {
      display: block;
    }
  }


  @include media("440px") {

    &-heading {
      width: 95vw;
      min-width: 270px;
      margin-left: auto;
      margin-right: auto;
    }

    &-description {
      max-width: 340px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include media("365px") {
  
    &-description {
      max-width: 280px;
      min-width: 270px;
    }
  }

}