*, ::before, ::after {
  margin: 0;
  padding: 0;
}
     
html, body {
  font-size: 10px;
  width: 100%;
  min-height: 100vh;
  height: auto;
  min-width: 275px;
  overflow: visible;
}

body {
  font-family: 'Poppins', sans-serif;
}
     
a {
  text-decoration: none;
}