.top-header {

  margin-top: 60px;

  &-heading {
    margin: 0px auto 30px auto;
    max-width: 300px;    
  }

  &-text {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    max-width: 370px;
  }

}