*, ::before, ::after {
 margin: 0;
 padding: 0;
}

html, body {
  min-height: 100vh;
  min-width: 250px;
  height: 100%;
}

body {
  background: $gradient-1;
  background-color: hsla(0, 100%, 87%, 0.103);
}    

a {
  text-decoration: none;
}

