@import "./normalize.css";

/* GLOBAL */

:root {
    --color-pale-blue: hsl(243, 100%, 93%);
    --color-grayish-blue: hsl(229, 7%, 55%);
    --color-dark-blue: hsl(228, 56%, 26%);
    --color-very-dark-blue: hsl(229, 57%, 11%);
    --color-white: rgb(255, 255, 255);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    min-height: 330px;
    height: 100%;
}

body {
    background-color: var(--color-very-dark-blue);
    font-family: 'Raleway', sans-serif;
    height: 100%;
    min-height: 330px;
    min-width:  330px;
    max-width:  1440px;
}

a {
    text-decoration: none;
}

/* MAİN CONTENT */

main {
    background: url("../images/bg-desktop.png") no-repeat;
    background-position: 0 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:   center;
        -ms-flex-align:  center;
            align-items: center;
    -webkit-box-pack:        center;
        -ms-flex-pack:       center;
            justify-content: center;
    height: 100%;
    width:  100%;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* LOGO AND ICONS */

.logo-and-icons {
    background-color: var(--color-dark-blue);
    border-radius:           1rem;
    border-top-right-radius: 45%;
    padding: 30px 120px 30px 30px;
    margin-right: 30px;
    max-width: 200px;
}

.logo-wrapper {
    margin-bottom: 25px;
}

.icon {
    background-color: var(--color-very-dark-blue);
    border-radius: 20%;
    margin-right: 5px;
    cursor: pointer;
}

#file-icon {
    padding: 1rem;
}

#folder-icon {
    padding: 12px;
}

#upload-icon {
    padding: 14px;
}

/* PROGRESS BAR */

.progress-and-description {
    -ms-flex-item-align: end;
        align-self:      flex-end;
    background-color: var(--color-dark-blue);
    border-radius: 1rem;
    height: 110px;
    width:  500px;
    padding-left:  30px;
    padding-right: 30px;
    padding-top:   30px;
    position: relative;
}

.bubble {
    background-color: var(--color-white);
    border-radius: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40px;
    width:  100px;
    margin-left: auto;
    padding: 1rem;
    position: absolute;
    bottom: 120px;
    left:   400px;
}

.bubble span:first-child {
    font-size:   3rem;
    font-weight: 700;
    margin-right: 5px;
}

.bubble span:nth-child(2) {
    color: var(--color-grayish-blue);
    font-size:   1.1rem;
    font-weight: 700;
    margin-top: 13px;
}

.bubble::after {
    border-right:  25px solid var(--color-white);
    border-bottom: 30px solid transparent;
    content: '';
    position: absolute;
    top:   50px;
    right: 0px;
}

.used-data {
    color: var(--color-grayish-blue);
    font-size:   1.5rem;
    font-weight: 400;
    margin-bottom: 12px;
}

.used-data span {
    color: var(--color-white);
    font-weight: 700;
}

.progress-bar-wrapper {
    background-color: var(--color-very-dark-blue);
    border-radius: 20px;
    height: 18px;
    width:  100%;
}

.progress-bar {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(6, 100%, 80%)), to(hsl(335, 100%, 65%)));
    background-image: -o-linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    background-image: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border: 3px solid var(--color-very-dark-blue);
    border-radius: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:        end;
        -ms-flex-pack:       end;
            justify-content: flex-end;
    height: 18px;
    width:  70%;
}

.small-circle {
    -ms-flex-item-align: center;
        align-self:      center;
    background-color: var(--color-pale-blue);
    border-radius: 100%;
    margin-right: 1px;
    height: 10px;
    width:  10px;
}

.labels {
    color: var(--color-white);
    font-size:   1.2rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
    width: 100%;
}

.maximum-data {
    margin-left: auto;
}

/* FOOTER */

footer {
    color: var(--color-pale-blue);
    text-align: center;
    font-size: 2rem;
    min-height: 30px;
    margin-top: 5px;
}

.link {
    color: var(--color-grayish-blue);
    font-weight: 700;
}

.link::before {
    content: "\00a0";
}

/* MEDIA QUERIES */

@media (min-width: 590px) and (max-width:940px) {
    .container {
        -webkit-box-orient:     vertical;
        -webkit-box-direction:  normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .logo-and-icons {
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 30px 30px 0px 30px;
        margin-right:  0;
        margin-bottom: 50px;
        max-width: unset;
    }
    .icons-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack:       distribute;
            justify-content: space-around;
        width: 100%;
    }
    .bubble::after {
        right: 50px;
        -webkit-transform: skew(-20deg);
            -ms-transform: skew(-20deg);
                transform: skew(-20deg);
    }

    footer {
        height: auto;
    }
}

@media (max-width:590px) {
    main {
        background:          url("../images/bg-mobile.png") no-repeat;
        background-position: unset;
        background-size:     cover;
    }

    .container {
        -webkit-box-orient:     vertical;
        -webkit-box-direction:  normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .logo-and-icons {
        -ms-flex-item-align: center;
            align-self:      center;
        margin-right:  0;
        margin-bottom: 20px;
    }

    .progress-and-description {
        height: 110px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        padding-left:  22px;
        padding-right: 22px;
        padding-top:   22px;
    }

    .used-data {
        width: 250px;
        margin-left:  auto;
        margin-right: auto;
    }

    .progress-bar-wrapper {
        margin-left:  auto;
        margin-right: auto;
        width: 270px;
    }

    .bubble {
        bottom: 0px;
        top:    100px;
        left:   75px;
        height: 40px;
        width:  130px;
        padding: 1rem 0 1rem 3rem;
    }

    .bubble::after {
        display: none;
    }

    footer {
        height: auto;
    }
}

